@font-face {
    font-family: 'lucida_sansregular';
    src: url('../fonts/lucida_sans_regular-webfont.eot');
    src: url('../fonts/lucida_sans_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lucida_sans_regular-webfont.woff2') format('woff2'), url('../fonts/lucida_sans_regular-webfont.woff') format('woff'), url('../fonts/lucida_sans_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

body {
    background-color: #ffffff;
}

.container {
    margin: 0 auto;
    width: 910px;
    height: 100%;
}

header {
    height: 277px;
    width: 100%;
    margin-top: 13px;
    position: relative;
}

header>img {
    position: relative;
    float: left;
    display: block;
    margin-top: 9px;
    margin-left: 7px;
}

header>a {
    display: block;
    position: relative;
    float: left;
    text-decoration: none;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 18px;
    color: #5e696d;
    line-height: 38px;
    clear: right;
    margin-left: 5px;
    margin-right: 2px;
    letter-spacing: 0.3px;
}

header>form {
    display: block;
    width: 495px;
    height: 26px;
    border-radius: 4px / 3px;
    background-clip: padding-box;
    background-color: #b1bbbf;
    box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
    background-image: -webkit-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%);
    float: left;
    clear: right;
    margin: 4px 0px 0 14px;
}

header>nav {
    display: block;
    width: 75px;
    height: 19px;
    border: 1px solid #bdc3c7;
    border-radius: 11px;
    background-clip: padding-box;
    background-color: #fff;
    float: right;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    margin-top: 6px;
    margin-right: 7px;
}

header>img.blick {
    margin: 0 auto;
    padding: 0;
    margin-top: 2px;
}

form>input[type=login] {
    display: block;
    float: left;
    font-size: 11px;
    font-family: 'lucida_sansregular', Arial, Tahoma, sans-serif;
    width: 108px;
    height: 12px;
    margin-top: 3px;
    margin-right: 6px;
    text-indent: 2px;
    color: #97a1a5;
    line-height: 18px;
    letter-spacing: 0.3px;
}

form>input[type=password] {
    display: block;
    float: left;
    font-size: 11px;
    font-family: 'lucida_sansregular', Arial, Tahoma, sans-serif;
    width: 109px;
    height: 12px;
    margin-top: 3px;
    text-indent: 3px;
    color: #97a1a5;
    line-height: 18px;
    letter-spacing: 0.3px;
    /*margin-right: 4px;*/
}

form>img {
    display: block;
    float: left;
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 5px;
}

button[type=submit] {
    height: 11px;
    width: 39px;
    border: none;
    background: none;
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    font-family: 'lucida_sansregular', Arial, Tahoma, sans-serif;
    line-height: 9px;
    margin-top: 7px;
    margin-left: 1px;
    border-right: 1px solid #fff;
    cursor: pointer;
}

form>a.reg {
    font-size: 11px;
    color: #ffffff;
    font-family: 'lucida_sansregular', Arial, Tahoma, sans-serif;
    text-decoration: none;
    line-height: 18px;
    margin-left: 1px;
}

form>a.paswrd {
    font-size: 11px;
    color: #bfbfbf;
    font-family: 'lucida_sansregular', Arial, Tahoma, sans-serif;
    margin-left: 19px;
    letter-spacing: 0.8px;
}

nav>a.nav1 {
    margin-left: 8px;
}

nav>a.nav2 {
    margin-left: 5px;
}

nav>a.nav3 {
    margin-left: 4px;
}


menu {
  position: relative;
	width: 910px;
	height: 32px;
  margin-top: 7px;
	border: 1px solid #0c1542; /* stroke */
	-moz-border-radius: 6px / 4px;
	-webkit-border-radius: 6px / 4px;
	border-radius: 6px / 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.6); /* drop shadow */
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.6); /* drop shadow */
	box-shadow: 2px 3px 5px rgba(0,0,0,.6); /* drop shadow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDkxMCAzMiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTY1ZjY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI5MTAiIGhlaWdodD0iMzIiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
  clear: both;
}

figure {
  position: relative;
  display: block;
  clear: both;
  margin-top: 57px;
    margin-left: 4px;

}


ul.menu {
    display: block;
    list-style: none;
    height: 32px;
    width: 633;
    float: left;
}

ul.menu > li {
  display: block;
    float: left;
    position: relative;
    height: 25px;
    width: 124px;
    text-align: center;
}
ul.menu > li > a {
    display: block;
    padding-top: 6px;

    line-height: 19px;
    color: #b1bcc0;
    font-family: 'lucida_sansregular', Arial, Tahoma, sans-serif;
    font-size: 13px;
    /*background-color: #343434;*/
    text-decoration: none;
}
ul.menu > li > a:hover {
    width: 124px;
	height: 25px;
  color: #ffffff;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #f60202;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEyNCAyNSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSIgeDI9IjUwJSIgeTI9IjEwMCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWY2OTg3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI1OSUiIHN0b3AtY29sb3I9IiMxMTQxNjUiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYjMxNTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEyNCIgaGVpZ2h0PSIyNSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%);
	background-image: -o-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%);
	background-image: -webkit-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%);
	background-image: linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%);
}
.case {
  margin-top: 5px;
  color: #929b9f;
  font-family: 'lucida_sansregular', Arial, Tahoma, sans-serif;
  font-size: 11px;
}
div.case>span.number {
  color: #0d5a8f;
  font-family: 'lucida_sansregular', Arial, Tahoma, sans-serif;
  font-size: 12px;
}


.catalog {
	position: relative;
	display: block;
	float: left;


	width: 210px;
	height: 545px;

}

.sheet {
	position: relative;
	display: block;
	float: left;
	height: 545px;
	width: 490px;
	background-color: #ffffff;
  clear: right;

}

.brend {
	position: relative;
	display: block;
	float: right;


	width: 210px;
	height: 545px;

}






.content {
	position: relative;
	height: 545px;

}





.footer {
	width: 1000px;
	position: relative;
	margin: 0 auto;
	font-family: tahoma;
    font-size: 12px;
    color: #ffffff;
	text-align: center;
	clear: both;
	padding-top: 12px;
}
